<div class='sidebar'>
 	<h2><%= @restaurant.name %><br>
 	<%= @restaurant.address %><br>
 	Last Inspection: <%= @violation.violation_text %><br>
 	Critical Violation: <%= @inspection.critical_violations %><br>


 	</h2>
  	<div class='heading'>
  			<ul>
  				<li><h1>Restofy</h1></li>
  				<% if current_user %>
  					<li><h1><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></h1></li>
  				<% else %>
  					<li><h1><%= link_to 'Sign In', new_user_session_path %></h1></li>
  				<% end %>
  				<li><button id="hide">Hide</button></li>
  				<li><button id="show">Show</button></li>
  			</ul>
  	</div>
  		<div class='sidebar-content'>
  			<%= yield :sidebar %>
  		</div>
  	<div id='listings' class='listings'></div>

  		
</div>

